#mapid {
  height: 800px;
  margin-bottom: 2rem;
}

#mainNav .navbar-brand {
  padding: 0.25rem 0;
  display: none;
  opacity: 0;
  font-size: 0.60em;
}

#mainNav.navbar-shrink a.navbar-brand {
  display: inline;
  opacity: 1;
}

@media (min-width: 768px) {
  #mainNav .navbar-brand {
    font-size: inherit;
  }
}

h1 {
  background-color: white !important;
}

section#about a:hover, section#projects a:hover {
  color: white;
  border-bottom: 0.125rem solid white;
}

section#contact a:hover {
  border-bottom: 0.125rem solid black;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: .8rem;
  background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 30rem;
  font-size: 1rem;
  background-color: rgba(0,0,0,.3);
  padding: 1rem;
}

.text-white-80 {
  color: rgba(255,255,255,.8)!important;
}

.text-white-70 {
  color: rgba(255,255,255,.7)!important;
}

.text-white-60 {
  color: rgba(255,255,255,.6)!important;
}

.about-section {
  padding: 5rem 0;
}

.about-section p {
  margin-bottom: 1rem;
}

.projects-section {
  padding: 5rem 0;
}

.contact-section .card h4 {
  font-weight: bold;
}

.contact-section .card hr.muted {
  border-color: rgba(0,0,0,0);
}

.acknowledgements-section {
  color: white;
  font-weight: bold;
}

.acknowledgements-section hr {
  border-color: white;
  border-width: .25rem;
  width: 20rem;
}

.popupimg{
  max-width: 300px;
  max-width: 200px;

}

#sidebar {
  max-height:800px;
  overflow: auto;
}

/*** Leaflet ***/

/** MarkerCluster **/
.marker-cluster-small {
  background-color: rgba(152, 177, 182, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(68, 112, 122, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(167, 11, 154, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(167, 11, 154, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(194, 174, 87, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(194, 174, 87, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(152, 177, 182);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(152, 177, 182);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(167, 11, 154);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(167, 11, 154);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(194, 174, 87);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(194, 174, 87);
}

.marker-cluster div {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/** Leaflet Controls **/
.leaflet-control-layers-base {
  /* font-size: 1rem; */
  /* font-weight: bold; */
}
